*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body{
  margin: 0;
  background: #000;
  font-size: 16px;
  font-family: arial, helvetica;
}
body > #app{
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background: #eee;
}
.main-wrap{
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}
h1, h2{
  font-weight: normal;
}
input{
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #fa5454;
}
.login,
.addfollower{
  padding: 10px 0;
  max-width: 400px;
  margin: 0 auto;
}
.follower-list{
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.follower-list li{
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}
.gmap{
  margin: 10px 0;
  border: 1px solid #fa5454;
  width: 100%;
  min-height: 450px;
}
.infowindow{
  padding: 10px;
}
.info_btn{
  margin: 10px 0;
  display: inline-block;
}
.login button,
.infowindow button,
.get-email input[type="button"],
.btn{
  border: none;
  background: #ccc;
  padding: 10px;
  text-decoration: none;
}
.btn{
  width: 100%;
  margin: 10px 0;
}
.cta{
  background: #fa5454;
  color: #fff;
}
.login button{
  margin: 5px;
}
.get-email input{
  width:100%;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}
.hide{
  display: none;
}
