*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body{
  margin: 0;
  background: #000;
  font-size: 16px;
  font-family: arial, helvetica;
}
body > #app{
  width: 100vw;
  height: 100vh;
  padding: 20px;
  text-align: center;
  background: #eee;
}
.main-wrap{
  max-width: 600px;
  margin: 0 auto;
}
input.search{
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #fa5454;
}
.gmap{
  margin: 10px 0;
  border: 1px solid #fa5454;
  width: 100%;
  min-height: 450px;
}
.infowindow{
  padding: 20px;
}
.infowindow button{
  border: none;
  background: #fa5454;
  color: #fff;
  padding: 10px;
}
